src/dev
*__pycache__
env/
venv/
storage/temp/chrome/*
storage/temp/*
!storage/binary/.gitkeep
storage/assets_originals/*
storage/main.db
storage/files/*
!storage/files/.gitkeep
storage/dbs/*
!storage/dbs/.gitkeep
storage/temp/files/*
!storage/temp/files/.gitkeep
storage/exports/*
storage/settings/*
!storage/temp/exports/.gitkeep
!storage/temp/chrome/.gitkeep
!storage/settings/.gitkeep
storage/temp/internal/*
!storage/temp/files/.gitkeep
storage/logs/*.log
src/executables/extractors/Custom/*
src/executables/extractors/Secret/*
src/executables/acts/Custom/*
src/executables/services/Custom/*
*node_modules*
src/web/static/js/package-lock.json
src/storage/main.db-journal
