src/dev
*__pycache__
env/
venv/
storage/tmp/chrome/*
storage/binary/*
!storage/binary/.gitkeep
storage/assets_originals/*
storage/main.db
storage/files/*
!storage/files/.gitkeep
storage/dbs/*
!storage/dbs/.gitkeep
storage/tmp/files/*
!storage/tmp/files/.gitkeep
storage/exports/*
storage/settings/*
!storage/tmp/exports/.gitkeep
!storage/tmp/chrome/.gitkeep
storage/tmp/internal/*
!storage/tmp/files/.gitkeep
storage/logs/*.log
src/executables/extractors/Custom/*
src/executables/extractors/Secret/*
src/executables/acts/Custom/*
src/executables/services/Custom/*
*node_modules*
src/web/static/js/package-lock.json
src/storage/main.db-journal
