src/dev
*__pycache__
env/
venv/
src/storage/tmp/chrome/*
src/storage/binary/*
src/storage/assets_originals/*
src/storage/main.db
src/storage/files/*
!src/storage/files/.gitkeep
src/storage/dbs/*
!src/storage/dbs/.gitkeep
src/storage/tmp/files/*
src/storage/exports/*
src/storage/settings/*
!src/storage/tmp/internal/.gitkeep
src/storage/tmp/internal/*
!src/storage/tmp/files/.gitkeep
src/storage/logs/*.log
src/executables/extractors/Custom/*
src/executables/extractors/Secret/*
src/executables/acts/Custom/*
src/executables/services/Custom/*
*node_modules*
src/web/static/js/package-lock.json
src/storage/main.db-journal
