<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <script src="{{ url_for('static', filename='js/node_modules/umbrellajs/umbrella.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/node_modules/universal-router/universal-router.js') }}"></script>
    <title>{{ site_name }}</title>

</head>
<body>
    <div class="wrap"></div>

    <script>
        window.modules = {
            "css": [
                {% for file in __css %}"{{ url_for('static', filename='css/' + file) }}",{% endfor %}
            ],
            "js": [
                {% for file in __js %}"{{ url_for('static', filename='js/' + file)|safe }}",{% endfor %}
            ]
        }
    </script>
    <script src="{{ url_for('static', filename='js/loader/loader.js') }}"></script>
</body>
</html>
