<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preth</title>

    <script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

</head>
<body>
    <script src="{{ url_for('static', filename='js/funcs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/executable_page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/list_page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/route_things.js') }}"></script>
</body>
</html>
